// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
	height: 100%;
}

.accessmap {
	height: 450px;
	position: relative;

	.konko {
		background-image: url('/assets/image/item-konko.png');
		background-repeat: no-repeat;
		position: relative;
		height: 46px;
		top: 30px;
		z-index: 5;
		transition: 1s linear 0s;
	}

	#map {
		height: 450px;
		position: absolute;
		top: 0;
		z-index: 10;
	}

	&:hover .konko{
		top: -30px;
	}
}

#btn-contact {
	margin-top: 20px;
}

#contact {
	background-color: #F9F9F9;

	.contact-form {
		height: 850px;
		width: 100%;
	}
}

.ss-required-asterisk {
	color: #9a2626;
}

.footer {
	background-color: #202d3b;
	color: #ffffff;
	height: 50px;
	padding: 10px;
	text-align: center;
}
