// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	height: 100%;
}

.accessmap {

	.konko {
		background-image: url('/assets/image/item-konko.png');
		background-repeat: no-repeat;
		position: relative;
		height: 46px;
		top: 20px;
		z-index: 5;
	}

	#map {
		height: 450px;
		position: relative;
		top: -30px;
		z-index: 10;

	}

	&:hover .konko{
		top: -20px;
	}
}

#btn-contact {
	margin-top: 20px;
}

#contact {
	background-color: #F9F9F9;
}

.ss-required-asterisk {
	color: #9a2626;
}

.footer {
	background-color: #202d3b;
	color: #ffffff;
	height: 50px;
	padding: 10px;
	text-align: center;
}
