// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	height: 100%;
}

#map {
	height: 450px;
}

#btn-contact {
	margin-top: 20px;
}

#contact {
	background-color: #F9F9F9;
}

.ss-required-asterisk {
	color: #9a2626;
}

.footer {
	background-color: #202d3b;
	color: #ffffff;
	height: 50px;
	padding: 10px;
	text-align: center;
}
