html{
	height: 100%;
	width: 100%;
}

.top-header{
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size:cover;
	text-align: center;

}

.top-contents{
	margin-top: 1px;
	font-size: 3em;
	font-weight: bold;
}