html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
}

.top-header{
	width: 100%;
	height: 100%;
}

.top-image{
	height: 100%;
	display: table;
	background-repeat: no-repeat;
	background-size:cover;
	background-image: url(/assets/image/beach.jpg);
	background-position: center center;
	background-attachment: fixed;
	margin-top: 1px;
	padding: 5px 0;
}

.top-contents{
	text-align: center;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 3em;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}


@font-face {
  font-family: 'captainicon';
  src: url('../fonts/captainicon-webfont.eot?-1i2a56');
  src: url('../fonts/captainicon-webfont.eot?#iefix-1i2a56') format('embedded-opentype'),
  		url('../fonts/captainicon.woff?-1i2a56') format('woff'),
  		url('../fonts/captainicon.ttf?-1i2a56') format('truetype'),
  		url('../fonts/captainicon.svg?-1i2a56#captainicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'captainicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-043::before {
	content: "\e62a";
}

.icon-051::before {
	content: "\e632";
}

.icon-140::before {
	content: "\e68b";
}

.icon-158:before {
	content: "\e69d";
	color: pink;
}

.icon-194::before {
	content: "\e6c1";
}

.icon-313::before {
	content: "\e738";
}
